extends layout
block content
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/cursor-client.js")
    h1=title
    strong
        span.user
    br
    strong
        |#userList
    .debug.userlist
    strong
        |#cursor-position
    .debug.position
    strong
        |#socket-heartbeat
    .heartbeat
    .cursors
